{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "development": {
      "plugins": [
        "jsdoc-to-assert",
        "babel-plugin-espower"
      ]
    }
  }
}
