sudo: false
language: node_js
node_js:
- stable
env:
  global:
  - GH_USER_EMAIL="azuciao@gmail.com"
  - GH_USER_NAME="azu"
cache: yarn
before_install:
- npm install -g npm@5
- npm install -g yarn@latest
install:
- yarn install --frozen-lockfile --ignore-engines
- yarn run bootstrap
jobs:
  include:
    - stage: TEST
      node_js: 4
      script:
      - yarn test
      - yarn test:examples
      - yarn test:integration
    - stage: TEST
      node_js: stable
      script:
      - yarn test
      - yarn test:examples
      - yarn test:integration
    - stage: DOCUMENTATION
      node_js: stable
      script:
      - yarn run test:docs
      - yarn run website
  # Deploy Docusaurus
    - stage: deploy
      node_js: stable
      if: branch = master AND type != pull_request
      before_script:
        - $(npm bin)/set-up-ssh --key "$encrypted_6407ccbe9d33_key" --iv "$encrypted_6407ccbe9d33_iv" --path-encrypted-key ".travis/textlint.github.io-deploykey.enc"
      script:
        - $(npm bin)/update-branch --commands "npm run website" \
                             --commit-message "Update Website [skip ci]" \
                             --directory "website/build/textlint" \
                             --distribution-branch "master" \
                             --source-branch "master"
