sudo: false
language: node_js
node_js:
- 4
- stable
cache: yarn
before_install:
- npm install -g npm@5
- npm install -g yarn@latest
install:
- yarn install --frozon-lockfile
- yarn run bootstrap
script:
- yarn test:all
