:root {
    --ifm-color-primary-lightest: #3bc5d5;
    --ifm-color-primary-lighter: #2bb6c6;
    --ifm-color-primary-light: #29aebd;
    --ifm-color-primary: #259eac;
    --ifm-color-primary-dark: #218e9b;
    --ifm-color-primary-darker: #1f8692;
    --ifm-color-primary-darkest: #1a6f78;
}
