/* Header */

@media only screen and (min-width: 736px) {
    .is-index .navPusher {
        padding-top: 0;
    }

    .is-top .fixedHeaderContainer {
        background: transparent;
    }

    .is-over-main .fixedHeaderContainer {
        background: transparent;
    }

    .is-bottom-of-main .fixedHeaderContainer {
        background-color: #6f9bf2;
        animation: HeaderFlipAnimation 0.15s ease-out;
    }
}

@keyframes HeaderFlipAnimation {
    0% {
        background-color: transparent;
        transform: scaleY(0);
    }
    100% {
        background-color: #6f9bf2;
        transform: scaleY(1);
    }
}

.TextlintFeature {
    margin: auto;
    max-width: 668px;
    font-family: HelveticaNeue, serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: var(--textColor);
}

.TextlintFeature-gridBlock p {
    color: var(--textColor) !important;
}

.homeContainer {
    color: #ffffff;
    background-image: linear-gradient(to bottom, var(--primaryColor), #6f9bf2);
}

.ProjectTitle {
    margin-top: 80px;
    font-family: HelveticaNeue, serif;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.ProjectTitle-copy {
    font-family: HelveticaNeue, serif;
    font-size: 30px !important;
    max-width: 380px !important;
    max-height: 70px;
    margin: 0.7em auto 1.3em !important;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

.GettingStartedButton {
    color: #ffffff;
    width: 236px;
    height: 50px;
    line-height: 50px;
    border-radius: 100px;
    background-color: var(--textColor);
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
}

.GettingStartedButton:hover {
    color: var(--textColor);
    background-color: #ffffff;
}

.GettingStartedButton:focus {
    outline: 0;
}

.Playground .Playground-title {
    font-family: HelveticaNeue, serif;
    font-size: 30px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: var(--textColor) !important;
}

.Playground .Playground-copy {
    font-family: Lato, serif;
    font-size: 18px !important;
    font-weight: 300 !important;
    text-align: center !important;
    color: var(--textColor) !important;
}

.Showcase .Showcase-title {
    font-family: HelveticaNeue, serif;
    font-size: 30px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: var(--textColor) !important;
}
