name: 'canary-release'
on:
  workflow_dispatch:

permissions:
  contents: read # for checkout
  id-token: write # for OIDC npm publishing

jobs:
  canary-release:
    name: canary-release
    runs-on: ubuntu-latest
    environment:
      name: npm
    steps:
      - name: checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: 'pnpm'
          node-version: 22
          # for publishing packages to pnpm
          registry-url: https://registry.npmjs.org
      - name: install
        run: pnpm install
      - name: Publish
        run: pnpm exec -- lerna publish --canary --preid next --dist-tag next --force-publish='*' --no-push --no-git-tag-version --yes
        env:
          # OIDC authentication for npm publishing
          # https://docs.npmjs.com/generating-provenance-statements
          NPM_CONFIG_PROVENANCE: true
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
